.footer {
		margin-top: auto;
		padding: 5rem 0;
	}

	.text-blue {
		color: cornflowerblue;
		/* SoftBank s/b 글자색 넣기 */
	}

	.footer .container {
		padding-top: 2rem;
	}

	.footer .row {
		padding-bottom: 0rem;
		padding-top: 2rem;
		margin-bottom: 0;
		/* 여백 제거 */
		text-align: center;
		/* 텍스트 중앙 정렬 */
	}

	.footer .navbar-brand {
		padding: 0;
		margin-bottom: 4rem;
		/* 간격을 늘리기 위해 하단 마진 조정 */
	}

	.footer .nav {
		font-size: 0.875rem;
		margin-bottom: 0;
		/* 저작권 아래 여백 제거 */
	}

	.footer .text-body-secondary {
		margin-top: 0rem;
	}

	.footer p {
		margin-bottom: 1rem;
		/* 문단 사이 간격을 줄임 */
	}