<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
	<meta charset="utf-8">

	<!-- Viewport -->
	<meta name="viewport"
		content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">

	<!-- SEO meta tags -->
	<title>SoftBank</title>
	<meta name="description" content="Around - Multipurpose Bootstrap HTML Template">
	<meta name="keywords"
		content="bootstrap, business, corporate, coworking space, services, creative agency, dashboard, e-commerce, mobile app showcase, saas, multipurpose, product landing, shop, software, ui kit, web studio, landing, light and dark mode, html5, css3, javascript, gallery, slider, touch, creative">
	<meta name="author" content="Createx Studio">

	<!-- Webmanifest + Favicon / App icons -->
	<!--<link rel="manifest" href="/manifest.json">-->
	<link rel="icon" type="image/png" href="/assets/images/main/softbank_logo.png" sizes="32x32">
	<link rel="apple-touch-icon" href="/assets/app-icons/icon-180x180.png">

	<!-- Theme switcher (color modes) -->
	<script src="assets/js/theme-switcher.js"></script>

	<!-- Import Google font (Inter) -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&amp;display=swap"
		rel="stylesheet" id="google-font">

	<!-- Vendor styles -->
	<link rel="stylesheet" media="screen" href="assets/vendor/swiper/swiper-bundle.min.css">

	<!-- Font icons -->
	<link rel="stylesheet" href="assets/icons/around-icons.min.css">

	<!-- Theme styles + Bootstrap -->
	<link rel="stylesheet" media="screen" href="assets/css/theme.min.css">
	<!-- 푸터 css 불러오기-->
	<link rel="stylesheet" href="/assets/css/header.css"> <!-- 푸터 css 불러오기-->
	<!-- 푸터 css 불러오기-->
	<link rel="stylesheet" href="/assets/css/footer.css"> <!-- 푸터 css 불러오기-->


	<!-- Page loading styles -->
	<style>
		.page-loading {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			-webkit-transition: all .4s .2s ease-in-out;
			transition: all .4s .2s ease-in-out;
			background-color: #fff;
			opacity: 0;
			visibility: hidden;
			z-index: 9999;
		}

		[data-bs-theme="dark"] .page-loading {
			background-color: #121519;
		}

		.page-loading.active {
			opacity: 1;
			visibility: visible;
		}

		.page-loading-inner {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			text-align: center;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			-webkit-transition: opacity .2s ease-in-out;
			transition: opacity .2s ease-in-out;
			opacity: 0;
		}

		.page-loading.active>.page-loading-inner {
			opacity: 1;
		}

		.page-loading-inner>span {
			display: block;
			font-family: "Inter", sans-serif;
			font-size: 1rem;
			font-weight: normal;
			color: #6f788b;
		}

		[data-bs-theme="dark"] .page-loading-inner>span {
			color: #fff;
			opacity: .6;
		}

		.page-spinner {
			display: inline-block;
			width: 2.75rem;
			height: 2.75rem;
			margin-bottom: .75rem;
			vertical-align: text-bottom;
			background-color: #d7dde2;
			border-radius: 50%;
			opacity: 0;
			-webkit-animation: spinner .75s linear infinite;
			animation: spinner .75s linear infinite;
		}

		[data-bs-theme="dark"] .page-spinner {
			background-color: rgba(255, 255, 255, .25);
		}

		@-webkit-keyframes spinner {
			0% {
				-webkit-transform: scale(0);
				transform: scale(0);
			}

			50% {
				opacity: 1;
				-webkit-transform: none;
				transform: none;
			}
		}

		@keyframes spinner {
			0% {
				-webkit-transform: scale(0);
				transform: scale(0);
			}

			50% {
				opacity: 1;
				-webkit-transform: none;
				transform: none;
			}
		}

		.consulting {
			text-align: center;
			/* 텍스트와 이미지를 가운데 정렬합니다. */

		}

		.con2 {
			margin-bottom: 40px;
			font-size: 60px;
		}

		.pb-3 {
			text-align: left;
			/* 텍스트 왼쪽 정렬 */
		}

		/* 섹션이 뷰포트에 나타나기 전 상태 */
		.section-hidden {
			opacity: 0;
			transform: translateY(100px);
			transition: opacity 0.5s ease, transform 0.5s ease;
		}

		/* 섹션이 뷰포트에 진입했을 때의 상태 */
		.section-visible {
			opacity: 1;
			transform: translateY(0);
		}
		/*폰트수정 css*/
	.custom-font {
    font-family: 'Pretendard-Regular', sans-serif;
}
/*프리텐다드 폰트로 수정 css*/
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}		

/*SI/SM사업사례패키지 폰트 수정 css*/	
@font-face {
    font-family: 'NanumBarunpen';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.custom-font2{
	font-family: 'NanumBarunpen' , sans-serif;
}
	</style>

	<!-- Page loading scripts -->
	<script>
		(function () {
			window.onload = function () {
				const preloader = document.querySelector('.page-loading')
				preloader.classList.remove('active')
				setTimeout(function () {
					preloader.remove()
				}, 1500)
			}
		})()

	</script>
</head>


<!-- Body -->

<body>


	<!-- Page loading spinner -->
	<div class="page-loading active">
		<div class="page-loading-inner">
			<div class="page-spinner"></div>
			<span>Loading...</span>
		</div>
	</div>


	<!-- Page wrapper -->
	<main class="page-wrapper">

		<header>
			<header>
				<!-- Include the header -->

				<div th:insert="~{header :: header}"></div>

			</header>
		</header>

		<!-- 세부페이지 배너  -->
		<section class="overflow-hidden">
			<div class="container pt-2 pt-sm-4 pb-sm-2 pb-md-4 py-xl-5 mt-5 custom-font">
				<div class="row align-items-center py-5 mt-md-2 my-lg-3 my-xl-4 my-xxl-5">
					<div
						class="col-lg-7 order-lg-2 d-flex justify-content-center justify-content-lg-end mb-4 mb-md-5 mb-lg-0 pb-3 pb-md-0">
						<div class="parallax me-lg-n4 me-xl-n5" style="max-width: 667px;">
							<div class="parallax-layer" data-depth="0.1">
								<img src="assets/images/banner/business/B_business1.jpg" alt="Layer">
							</div>

						</div>
					</div>
					<div class="col-lg-5 order-lg-1 custom-font">
						<h1 class="display-3 text-center text-lg-start pb-sm-2 pb-md-3">BUSINESS</h1>
						<p class="fs-sm text-center text-lg-start pb-xl-2 mx-auto mx-lg-0 mb-5"
							style="max-width: 520px;">비즈니스는 시스템 통합(SI)과 시스템 유지보수(SM),
							그리고 컨설팅 및 맞춤형 솔루션 제공을 포함하여, 고객의 다양한 요구에 맞춘 종합 IT 서비스를 제공합니다.</p>
					</div>
				</div>
			</div>
		</section>






		<!-- 사업내용 -->
		<section id="business-content" class="container py-3 mt-3 mb-2 my-md-4 my-lg-5">
			<div class="row justify-content-center align-items-center py-xl-3 my-xxl-3 " data-aos="fade-up"
				data-aos-duration="600" data-aos-offset="280" data-disable-parallax-down="lg">
				<div class="col-lg-5 pb-3 pb-lg-0 mb-3 mb-sm-4 mb-lg-0" data-aos="fade-up" data-aos-duration="850"
					data-aos-offset="150" data-disable-parallax-down="lg">
					<div class="pe-lg-2 pe-xl-0 custom-font">
						<h2 class="h1 text-center text-lg-start mb-4 mx-auto mx-lg-0" style="max-width: 468px;">
							Business Statement
						</h2>
						<span class="d-inline-block position">
							<span class="position-relative z-2 ">사업 내용은 SI/SM, 컨설팅, 솔루션 제공을 통해 고객<br> 맞춤형 IT 서비스와
								지속적인 기술 지원을 제공합니다.</span>
						</span>
					</div>

				</div>
				<div class="col-sm-10 col-md-8 col-lg-7 pb-2 pb-sm-1 pb-md-0">
					<div class="swiper-wrapper">

						<!-- Item -->
						<div class="swiper-slide bg-light ">
							<div class="d-flex flex-column">
								<div class="d-flex align-items-center align-self-end pb-2 mb-2"
									style="max-width: 570px;">
									<div class="bg-light rounded-circle flex-shrink-0 position-relative z-2 me-n4"
										style="padding: .375rem;">
										<img class="rounded-circle" src="/assets/images/business/qq1.png" width="80"
											alt="Avatar">
									</div>
									<div class="card bg-secondary border-4 rounded-4 py-2 ps-3 pe-2"> <!-- 패딩 줄임 -->
										<div class="card-body py-2 px-1"> <!-- 패딩 줄임 -->
											<p class="fs-l"> &nbsp;&nbsp;1. 세계적 수준의 경쟁력 있는 시스템 개발 및 구축<br>
												&nbsp;&nbsp;2. 숙련된 개발력과 시스템 운영 능력을 가진 전문 인력 확보 및
												&nbsp;&nbsp;&nbsp;&nbsp;체계적 관리<br>
												&nbsp;&nbsp;3. SI 컨설팅을 통한 시스템 구축으로 고객만족 극대화<br>
												&nbsp;&nbsp;4. 사업관리 및 품질관리분야 전문 서비스</p>
											<div class="h5 fw-bold mb-0">It Outsourcing</div>
										</div>
									</div>
								</div>

								<div class="d-flex align-items-center align-self-center pb-2 mb-2"
									style="max-width: 570px;">
									<div class="bg-light rounded-circle flex-shrink-0 position-relative z-2 me-n4"
										style="padding: .375rem;">
										<img class="rounded-circle" src="/assets/images/business/qq2.png" width="80"
											alt="Avatar">
									</div>
									<div class="card bg-secondary border-4 rounded-4 py-2 ps-3 pe-2"> <!-- 패딩 줄임 -->
										<div class="card-body py-2 px-1"> <!-- 패딩 줄임 -->
											<p class="fs-l"> &nbsp;&nbsp;1. 대기업/관공서/통신사 등에 인력 파견<br>
												&nbsp;&nbsp;2. 파견인력에 대한 피드백 시스템으로 고객 만족 극대화<br>
												&nbsp;&nbsp;3. S/W 개발 및 패키지 : MIS/Portal, B2B/B2C, 교육용 S/W 등<br>
												&nbsp;&nbsp;4. 각종 솔루션 : Framework (Web, C/S), 연계솔루션, 형상관리
												&nbsp;&nbsp;&nbsp;&nbsp;솔루션 등</p>
											<div class="h5 fw-bold mb-0">SI / SM</div>
										</div>
									</div>
								</div>

								<div class="d-flex align-items-center align-self-end" style="max-width: 570px;">
									<div class="bg-light rounded-circle flex-shrink-0 position-relative z-2 me-n4"
										style="padding: .375rem;">
										<img class="rounded-circle" src="/assets/images/business/qq3.png" width="80"
											alt="Avatar">
									</div>
									<div class="card bg-secondary border-4 rounded-4 py-2 ps-3 pe-2"> <!-- 패딩 줄임 -->
										<div class="card-body py-2 px-1"> <!-- 패딩 줄임 -->
											<p class="fs-l">
												&nbsp;&nbsp;1. Strategy Consulting, Implementation<br>
												&nbsp;&nbsp;2. BPM, CRM<br>
												&nbsp;&nbsp;3. CPM, ERM<br>
												&nbsp;&nbsp;4. SCM, Logistics</p>
											<div class="h5 fw-bold mb-0">Consulting</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</section>




		<!-- IT Outsourcing -->
		<section id="business-itoutsourcing" class="container py-5 my-lg-3 my-xl-4 my-xxl-5">
			<div class="row py-2 py-sm-4 py-md-5 mt-lg-2">
				<div class="col-sm-9 col-md-4 col-lg-5 mb-5 mb-md-0">
					<div class="position-relative mb-sm-2">
						`
						<img src="/assets/images/business/itoutsourcing.jpg"
							style="-webkit-clip-path: url(#mask); clip-path: url(#mask);" alt="Image">

						<defs>
							<clipPath id="mask" clipPathUnits="objectBoundingBox"
								transform="scale(0.001901140684, 0.00243902439)">
								<path
									d="M0 392V119.598C0 109.648 8.0717 101.586 18.021 101.598L331.979 101.964C341.928 101.976 350 93.9133 350 83.964V18.3667C350 8.44183 358.033 0.389727 367.958 0.366699L507.958 0.0418617C517.916 0.0187578 526 8.08438 526 18.0418V392C526 401.941 517.941 410 508 410H18C8.05887 410 0 401.941 0 392Z" />
							</clipPath>
						</defs>
						</svg>
					</div>

				</div>
				<div class="col-md-8 col-lg-7">
					<div class="ps-md-3 ps-lg-4 ps-xl-5">
						<h2 class="h1 pb-sm-1 pb-md-2">It Outsourcing</h2>
						<p class="mb-sm-4" style="margin-top: 20px;">IT 아웃소싱은 고객 맞춤형 IT 서비스 제공을 통해 기업의 경쟁력 강화와 효율적인 운영을
							지원하며 전문 인력을 통해 최적화된 솔루션을 제시합니다.</p>
						<!-- Accordion -->
						<div class="accordion" id="faq">
							<div class="accordion-item bg-transparent mb-n1 mb-xl-1">
								<h3 class="accordion-header">
									<button class="accordion-button fs-6 py-3 px-0" type="button"
										data-bs-toggle="collapse" data-bs-target="#real-estate" aria-expanded="true"
										aria-controls="real-estate">IT 아웃소싱 컨설팅 서비스</button>
								</h3>
								<div class="accordion-collapse collapse show" id="real-estate" data-bs-parent="#faq">
									<div class="accordion-body fs-sm">
										<p>고객의 IT 아웃소싱에 대한 의사 결정과 전략 수립, 그리고 추진 성과 분석을 지원하며, 효율적인 IT 아웃소싱 관리 체계를 구축할 수
											있도록 돕습니다. 이를 통해 고객이 성공적인 아웃소싱 운영을 할 수 있도록 맞춤형 컨설팅을 제공합니다.</p>
									</div>
								</div>
							</div>
							<div class="accordion-item bg-transparent mb-n1 mb-xl-1">
								<h3 class="accordion-header">
									<button class="accordion-button fs-6 py-3 px-0 collapsed" type="button"
										data-bs-toggle="collapse" data-bs-target="#tech" aria-expanded="false"
										aria-controls="tech">네트워크 서비스</button>
								</h3>
								<div class="accordion-collapse collapse" id="tech" data-bs-parent="#faq">
									<div class="accordion-body fs-sm">
										<p>고객의 다양한 요구를 만족시키기 위해 맞춤형 네트워크 솔루션과 네트워크 인프라를 제공하며, 이를 관리하고 운영하는 서비스를 지원합니다.
											고객이 안정적인 네트워크 환경을 유지할 수 있도록 효율적인 관리 체계를 제공합니다.</p>
									</div>
								</div>
							</div>
							<div class="accordion-item bg-transparent mb-n1 mb-xl-1">
								<h3 class="accordion-header">
									<button class="accordion-button fs-6 py-3 px-0 collapsed" type="button"
										data-bs-toggle="collapse" data-bs-target="#finance" aria-expanded="false"
										aria-controls="finance">보안 서비스</button>
								</h3>
								<div class="accordion-collapse collapse" id="finance" data-bs-parent="#faq">
									<div class="accordion-body fs-sm">
										<p>고객의 특성에 적합한 보안 전략을 수립하여, 향상된 보안 관리 시스템에 따라 고객의 정보 자산을 안전하게 운영하고 관리합니다. 이를 통해
											고객이 신뢰할 수 있는 정보 보호를 유지할 수 있도록 전문적인 지원을 제공합니다.</p>
									</div>
								</div>
							</div>
							<div class="accordion-item bg-transparent mb-n1 mb-xl-1">
								<h3 class="accordion-header">
									<button class="accordion-button fs-6 py-3 px-0 collapsed" type="button"
										data-bs-toggle="collapse" data-bs-target="#medicine" aria-expanded="false"
										aria-controls="medicine">애플리케이션 서비스</button>
								</h3>
								<div class="accordion-collapse collapse" id="medicine" data-bs-parent="#faq">
									<div class="accordion-body fs-sm">
										<p>애플리케이션 서비스는 고객의 필요에 기반한 새로운 IT 시스템의 개발과 운영을 지원합니다. 이를 통해 고객이 비즈니스를 효과적으로 관리할
											수 있도록 전문적인 솔루션을 제공합니다.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- si/sm 사업사례 패키지(s/w) -->
		<section id="business-sw" class="bg-white border-top border-light py-2 py-sm-3 py-md-4 py-m-5"
			data-bs-theme="dark">
			<div class="container py-5 my-lg-3 my-xl-4 my-xxl-5">
				<h2 class="h1 text-center text-md-start mt-lg-n3 pb-4 pb-md-5 custom-font" style="max-width: 660px; color: black;">
					SI/SM 사업사례
					패키지(S/W)</h2>
				<h3 class="mb-sm-4 custom-font" style="font-size: 13px; font-weight: normal; color: black; ">효율적인 소프트웨어 개발을 위한 개발
					프레임워크, 철저한 데이터
					보호를 위한 보안 솔루션, 그리고 프로젝트 자산 관리를 위한 형상관리 솔루션을 제공합니다.</h3>

				<div class="row pt-sm-2 pt-md-0 pt-xl-1 pt-xxl-3">
					<div class="col-md-6 col-xl-5 offset-xl-1 order-md-2 pb-4 pb-md-0 mb-2 mb-md-0">

						<!-- Images (binded content) -->
						<div class="binded-content" style="max-width: 526px;">
							<div class="binded-item active" id="marketers-image">
								<div class="from-bottom">
									<div
										class="d-flex justify-content-center position-absolute top-0 start-0 w-100 h-200">
										<div class="bg-primary rounded-5 h-100" style="width: 88.2%;"></div>
									</div>
									<img class="d-block position-relative z-2" src="/assets/images/business/sw1.jpg"
										alt="Image">
								</div>
							</div>
							<div class="binded-item" id="agencies-image">
								<div class="from-bottom">
									<div
										class="d-flex justify-content-center position-absolute top-0 start-0 w-100 h-100">
										<div class="bg-info rounded-5 h-100" style="width: 88.2%;"></div>
									</div>
									<img class="d-block position-relative z-2" src="/assets/images/business/sw2.jpg"
										alt="Image" style="height: 110%;">
								</div>
							</div>
							<div class="binded-item" id="ecommerce-image">
								<div class="from-bottom">
									<div
										class="d-flex justify-content-center position-absolute top-0 start-0 w-100 h-100">
										<div class="bg-warning rounded-5 h-100" style="width: 88.2%;"></div>
									</div>
									<img class="d-block position-relative z-2" src="/assets/images/business/sw3.jpg"
										alt="Image" style="height: 150%;">
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-6 order-md-1">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs flex-nowrap overflow-auto text-nowrap pb-3 mb-3 mb-xl-4 custom-font" role="tablist">
							<li class="nav-item mb-0">
								<a class="nav-link active" href="#marketers-text" data-bs-toggle="tab"
									data-binded-content="#marketers-image" role="tab" style="color: black;">개발 /
									FrameWork</a>
							</li>
							<li class="nav-item mb-0">
								<a class="nav-link" href="#agencies-text" data-bs-toggle="tab"
									data-binded-content="#agencies-image" role="tab" style="color: black;">보안솔루션</a>
							</li>
							<li class="nav-item mb-0">
								<a class="nav-link" href="#ecommerce-text" data-bs-toggle="tab"
									data-binded-content="#ecommerce-image" role="tab" style="color: black;">형상관리</a>
							</li>
						</ul>

						<!-- Tab content -->
						<div class="tab-content pt-lg-2 pt-xl-3">
							<div class="tab-pane fade show active custom-font" id="marketers-text" role="tabpanel">
								<p class="text-body" style="font-size: 18px; color: black !important;">
									C/S 프레임워크: J2SE 기반의 Java 프레임워크<br>
									<br>J2SE/JDK 환경에서 클라이언트-서버(C/S) 개발 환경을 구성<br>
									<br> 데이터베이스와 연동할 수 있는 Java 연결 구현<br>
									<br>클라이언트 구현 시 일반적인 클라이언트/서버 성능을 실현<br>
									<br>재사용성을 높이기 위한 기능의 모듈화<br>
									<br>객체 지향 프로그래밍(OOP) 원칙에 충실한 프로그래밍<br>
									<br>웹 프레임워크: J2EE 기반의 Java 프레임워크
								</p>
							</div>

							<div class="tab-pane fade custom-font" id="agencies-text" role="tabpanel">
								<p class="text-body" style="font-size: 18px; color: black !important;">
									IPS (제니퍼): J2EE 플랫폼에 대한 성능 관리<br>
									<br> → 실시간 WAS 시스템 감시 및 WAS, DBMS 등 구간별 성능 데이터를 제공<br>
									<br>→ 성능 이슈와 장애 원인을 즉시 탐지하고 알림<br>
									<br>→ 용량 평가 및 부하량 변동 분석 / 부하량 과부하 시 다양한 성능 조정<br>
									<br>→ 날짜별 성능 정보를 바탕으로 한 통계 리포트<br>
									<br>TMS (위협 관리 솔루션): 로컬 및 글로벌 트래픽에 대한 포괄적인 분석을 통해 웜, 해킹, 사이버 공격, 비정상적 행동 등의 위협을 예측하고
									경고하며 체계적이고 효과적인 대응을 지원하는 시스템. 로컬 네트워크를 외부의 위험으로부터 방어하고, 내부 네트워크의 효율적인 운영이 가능하게 합니다.
								</p>
							</div>

							<div class="tab-pane fade custom-font" id="ecommerce-text" role="tabpanel">
								<p class="text-body" style="font-size: 18px;color: black !important;">SERENA
									Professional<br>
									<br>→ 프로젝트 파일의 효과적인 관리<br>
									<br>→ 감사 가능성(Auditability), 추적 가능성(Traceability), 책임 가능성(Accountability) 확보<br>
									<br> → 표준화 및 프로젝트 파일의 안전성 유지<br>
									<br>→ 특정 릴리즈를 위한 프로젝트 산출물의 재구성(Rebuild)<br>
									<br> → 다양한 플랫폼 환경에서의 통합 관리 및 기존 개발 도구(Tool)와의 연계<br>
									<br>→ 개발 생애 주기 관리 프로젝트
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>



		<!-- 시스템통합(si) -->
		<section id="business-si" class="position-relative bg-white pt-lg-4 pt-xl-5">
			<div class="jarallax position-absolute top-0 start-0 w-100 h-100" data-jarallax data-speed="0.4">

			</div>
			<div class="container position-relative z-2 pt-2 pt-sm-4 pt-md-5">
				<div class="row justify-content-center pt-5">
					<div class="col-lg-9 col-xl-8 text-center pt-5 mt-1">

						<h1 class="display-4 text-dark pt-3 mt-3 mb-4">시스템통합(SI)</h1>
						<p class="text-white opacity-70 fs-xl">공공 기관, 국방, 금융 서비스를 위한 맞춤형 시스템 통합 솔루션을 제공하여 효율성, 보안 및 운영
							우수성을 향상시킵니다.</p>
					</div>
				</div>
			</div>
			<div class="d-none d-lg-block" style="height: 480px;"></div>
			<div class="d-lg-none" style="height: 400px;"></div>
			<div class="d-flex position-absolute bottom-0 start-0 w-100 overflow-hidden mb-n1"
				style="color: var(--ar-body-bg);">
				<div class="position-relative start-50 translate-middle-x flex-shrink-0" style="width: 3774px;">
					<svg width="3774" height="201" viewBox="0 0 3774 201" fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<path
							d="M0 200.003C0 200.003 1137.52 0.188224 1873.5 0.000134392C2614.84 -0.189325 3774 200.003 3774 200.003H0Z"
							fill="currentColor" />
					</svg>
				</div>
			</div>
		</section>


		<!-- Categories (Slider) -->
		<section class="container position-relative z-3">
			<div class="d-none d-lg-block" style="margin-top: -428px;"></div>
			<div class=" d-lg-none" style="margin-top: -370px;"></div>
			<div class="swiper" data-swiper-options='{
          "slidesPerView": 1,
          "spaceBetween": 24,
          "pagination": {
            "el": ".swiper-pagination",
            "clickable": true
          },
          "breakpoints": {
            "560": {
              "slidesPerView": 2
            },
            "960": {
              "slidesPerView": 3
            }
          }
        }'>
				<div class="swiper-wrapper">

					<!-- Item -->
					<!--href가 있는 span을 a태크로 바꾸면 마우스 클릭시 이동가능-->
					<div class="swiper-slide">
						<span href="#" class="card card-hover zoom-effect border-0 rounded-5 overflow-hidden">
							<span class="position-absolute top-0 start-0 w-100 h-100 z-1"
								style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 35.56%, #121519 95.3%);"></span>
							<!-- 배경 투명도 높임 -->
							<div class="position-absolute bottom-0 w-100 z-2 p-4">
								<div class="px-md-3">
									<h1 class="h4 mb-3" style="color: white;">공공</h2> <!-- z-index 추가 -->
										<div class="si">
											<!-- opacity-0 제거 -->
											<span class="text-white fs-xs text-truncate opacity-70 pe-3">저비용 고효율로 미래의
												전자정부 구현을 위한<br> SI/SM 수행</span>
										</div>
								</div>
							</div>
							<div class="zoom-effect-wrapper">
								<div class="zoom-effect-img">
									<img src="assets/img/landing/saas-4/categories/ecommerce.jpg" alt="Ecommerce">
								</div>
							</div>
						</span>
					</div>


					<!-- Item -->
					<div class="swiper-slide">
						<span href="#" class="card card-hover zoom-effect border-0 rounded-5 overflow-hidden">
							<span class="position-absolute top-0 start-0 w-100 h-100 z-1"
								style="background: linear-gradient(180deg, rgba(18, 21, 25, 0.00) 35.56%, #121519 95.3%);"></span>
							<div class="position-absolute bottom-0 w-100 z-2 p-4">
								<div class="px-md-3">
									<h1 class="h4 text-white mb-3">국방</h1>
									<div class="si">
										<span class="text-white fs-xs text-truncate opacity-70 pe-3">신국방재정/국방 군수 종합정보체계
											사업 등 <br> 군 정보화를 통한 국가안보능력 강화</span>
									</div>
								</div>
							</div>
							<div class="zoom-effect-wrapper">
								<div class="zoom-effect-img">
									<img src="assets/img/landing/saas-4/categories/transportation.jpg"
										alt="Transportation">
								</div>
							</div>
						</span>
					</div>

					<!-- Item -->
					<div class="swiper-slide">
						<span href="#" class="card card-hover zoom-effect border-0 rounded-5 overflow-hidden">
							<span class="position-absolute top-0 start-0 w-100 h-100 z-1"
								style="background: linear-gradient(180deg, rgba(18, 21, 25, 0.00) 35.56%, #121519 95.3%);"></span>
							<div class="position-absolute bottom-0 w-100 z-2 p-4">
								<div class="px-md-3">
									<h1 class="h4 text-white mb-3">제조</h1>
									<div class="si">
										<span class="text-white fs-xs text-truncate opacity-70 pe-3">제조업의 경쟁력 향상을 위한
											경영정보시스템(MIS),<br> MES, MCS, 환경/에너지 관리정보
											시스템 구축</span>
									</div>
								</div>
							</div>
							<div class="zoom-effect-wrapper">
								<div class="zoom-effect-img">
									<img src="assets/img/landing/saas-4/categories/marketing.jpg" alt="Marketing">
								</div>
							</div>
						</span>
					</div>

					<!-- Item -->
					<div class="swiper-slide">
						<span href="#" class="card card-hover zoom-effect border-0 rounded-5 overflow-hidden">
							<span class="position-absolute top-0 start-0 w-100 h-100 z-1"
								style="background: linear-gradient(180deg, rgba(18, 21, 25, 0.00) 35.56%, #121519 95.3%);"></span>
							<div class="position-absolute bottom-0 w-100 z-2 p-4">
								<div class="px-md-3">
									<h1 class="h4 text-white mb-3">금융</h1>
									<div class="si">
										<span class="text-white fs-xs text-truncate opacity-70 pe-3">금융기관의 경영 컨설팅, 정보시스템
											구축,
											운영 재난<br>대비 시스템, 보안시스템 구축</span>
									</div>
								</div>
							</div>
							<div class="zoom-effect-wrapper" style="height: 450px;"> <!-- 부모 요소의 명확한 높이 설정 -->
								<div class="zoom-effect-img" style="height: 100%;"> <!-- 이미지 컨테이너 높이를 100%로 설정 -->
									<img src="assets/images/business/si1.jpg" alt="Robotics"
										style="height: 100%; width: 100%; object-fit: cover;">
									<!-- 이미지의 높이를 100%로 설정 -->
								</div>
							</div>


						</span>
					</div>

					<!-- Item -->
					<div class="swiper-slide">
						<span href="#" class="card card-hover zoom-effect border-0 rounded-5 overflow-hidden">
							<span class="position-absolute top-0 start-0 w-100 h-100 z-1"
								style="background: linear-gradient(180deg, rgba(18, 21, 25, 0.00) 35.56%, #121519 95.3%);"></span>
							<div class="position-absolute bottom-0 w-100 z-2 p-4">
								<div class="px-md-3">
									<h1 class="h4 text-white mb-3">서비스</h1>
									<div class="si">
										<span class="text-white fs-xs text-truncate opacity-70 pe-3">유통서비스, 교육기관에 특화된
											솔루션으로<br>
											정보시스템 구축</span>
									</div>
								</div>
							</div>
							<div class="zoom-effect-wrapper">
								<div class="zoom-effect-img">
									<img src="assets/img/landing/saas-4/categories/programming.jpg" alt="Programming">
								</div>
							</div>
						</span>
					</div>
					<!-- Item -->
					<div class="swiper-slide">
						<span href="#" class="card card-hover zoom-effect border-0 rounded-5 overflow-hidden">
							<span class="position-absolute top-0 start-0 w-100 h-100 z-1"
								style="background: linear-gradient(180deg, rgba(18, 21, 25, 0.00) 35.56%, #121519 95.3%);"></span>
							<div class="position-absolute bottom-0 w-100 z-2 p-4">
								<div class="px-md-3">
									<h1 class="h4 text-white mb-3">사업사례</h1>
									<div class="si">
										<span class="text-white fs-xs text-truncate opacity-70 pe-3">군인들이 주로 사용하는 나라사랑
											카드 관련 홈페이지로<br> e-머니 충전,나라사랑카드 관련 정보,커뮤니티 등 제공</span>
									</div>
								</div>
							</div>
							<div class="zoom-effect-wrapper" style="height: 450px;"> <!-- 부모 요소의 명확한 높이 설정 -->
								<div class="zoom-effect-img" style="height: 100%;"> <!-- 이미지 컨테이너 높이를 100%로 설정 -->
									<img src="assets/images/business/si2.jpg" alt="Robotics"
										style="height: 100%; width: 100%; object-fit: cover;">
									<!-- 이미지의 높이를 100%로 설정 -->
								</div>
							</div>

						</span>
					</div>
				</div>



				<!-- Pagination (bullets) -->
				<div class="swiper-pagination position-relative bottom-0 pt-2 pt-md-3 mt-4"></div>
			</div>
		</section>


		<!-- si/sm 진행절차) -->
		<section id="business-sism" class="container pt-5 mt-1 mt-sm-2 mt-xl-4 mt-xxl-5">
			<div class="row align-items-center pt-2 pt-sm-3 pt-md-4 pt-lg-5 mt-xl-2 mt-xxl-3">
				<h1 class="display-8 text-dark text-center pt-5" style="margin-bottom: 70px;">SI/SM 진행절차</h1>
				<div class="col-md-4 col-xl-5 pb-3 pb-md-0 mb-4 mb-md-0">
					<div class="ratio ratio-1x1 d-flex align-items-center position-relative rounded-circle overflow-hidden bg-size-cover mx-auto"
						style="max-width: 530px; background-image: url(assets/images/business/si3.jpg);">
						<div class="bg-dark position-absolute top-0 start-0 w-100 h-100 opacity-50"></div>
					</div>
				</div>


				<div class="col-md-6 col-xl-5 offset-xl-1">
					<div class="ps-md-4 ps-xl-0">
						<div class="steps steps-hoverable">
							<div class="step py-3 py-xl-4">
								<div class="step-number">
									<div class="step-number-inner">01</div>
								</div>
								<div class="step-body">
									<h3 class="h5 pb-1 mb-2">프로젝트 팀 구성</h3>
									<p class="mb-0">1. 개발자 선정: 프로젝트의 요구 사항을 충족하는 개발인력을 여유 있게 선발하고, 면접과정을 통해 최적의 인재를 선별.
										<br>2. 팀 구성: 선정된 개발자들을 바탕으로 프로젝트 목표에 맞는 팀을 구성하여 협업 체계를 확립.
									</p>
								</div>
							</div>
							<div class="step py-3 py-xl-4">
								<div class="step-number">
									<div class="step-number-inner">02</div>
								</div>
								<div class="step-body">
									<h3 class="h5 pb-1 mb-2">프로젝트 개발 관리</h3>
									<p class="mb-0">1. 자원 및 일정 관리: 프로젝트 관리자는 인력과 일정을 체계적으로 배치하여 최적의 운영 환경을 마련.<br>
										2. 역할 분담 관리:
										개발 PM은 개발 과정 전반을 지휘하며 프로젝트의 기술적 부분에 책임을 진다.
										→ 프로젝트 관리 PM은 일정 조율, 진행 상황 모니터링, 문제 해결을 주도하며, 원활한 진행을 보장한다.</p>
								</div>
							</div>
							<div class="step py-3 py-xl-4">
								<div class="step-number">
									<div class="step-number-inner">03</div>
								</div>
								<div class="step-body">
									<h3 class="h5 pb-1 mb-2">프로젝트 Report</h3>
									<p class="mb-0">1. 단계별 결과물 제출: 프로젝트 진행 과정에서 각 단계의 중간 결과물을 정기적으로 제출하여 검증을 거친다.<br>2.
										최종 보고서 제출: 프로젝트 종료 시, 소스 코드, 매뉴얼, 최종 결과물 등을 포함한 종합 보고서를 제출한다.
										<br>3. 사용자 교육: 완성된 시스템에 대한 매뉴얼을 작성하고 사용자 교육을 통해 실제 사용자를 대상으로 정확한 가이드라인을 제공한다.
									</p>
								</div>
							</div>
							<div class="step py-3 py-xl-4">
								<div class="step-number">
									<div class="step-number-inner">04</div>
								</div>
								<div class="step-body">
									<h3 class="h5 pb-1 mb-2">Feedback</h3>
									<p class="mb-0">1. 프로젝트 평가: 프로젝트 종료 후 진행 과정과 결과물에 대한 평가를 통해 문제점과 개선 사항을 도출한다.<br>
										2. 지속적 개선: 평가 결과는 차후 프로젝트에 반영하여 과정과 성과를 지속적으로 개선하며, 우수한 엔지니어에게는 더 많은 프로젝트 기회를
										제공한다.</p>
								</div>
							</div>
							<div class="step py-3 py-xl-4">
								<div class="step-number">
									<div class="step-number-inner">05</div>
								</div>
								<div class="step-body">
									<h3 class="h5 pb-1 mb-2">사후관리</h3>
									<p class="mb-0">유지보수 계약: 프로젝트 종료 후 유지보수 계약을 체결하여, 문제가 발생할 경우 즉각적인 대응을 통해 시스템의 안정성을
										유지한다</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- consulting -->
		<div id="business-consulting" class="consulting" style="margin-top: 15%;">
			<h1 class="mainconsulting0" style="font-size: 400%;"><strong>Consulting</strong></h4>
				<h4 class="mainconsulting1" style="font-size: 100%; margin-top:50px">
					컨설팅 사업은 공공, 금융, 제조/서비스, 전자, 통신/미디어 등의 산업에서 CRM, CPM, ERP, MIS 등
					다양한 솔루션을<br> 이용한 전략 컨설팅, 프로세스 혁신 컨설팅, 전략 실행 컨설팅 서비스를 제공합니다.
				</h4>

				<body>
					<div class="image-container">
						<img src="assets/images/business/con1.png" class="SIimg shadow-xl" alt="...">
						<img src="assets/images/business/con2.png" class="SIimg shadow-xl" alt="...">
					</div>
				</body>


				<!-- Solution -->
				<section id="business-Solution" class="container pt-5 mt-lg-3 mt-xl-4 mt-xxl-5">
					<h2 class="h1 text-center pt-2 pt-sm-3">Solution</h2>
					<p class="text-center pb-3 mb-3 mb-lg-4">반응형 웹 서비스, MDT-CRM, MDT-MIS의 세 가지 솔루션은 <br>고객 관계 관리 및 관리 정보
						시스템을 위한 통합 플랫폼을 제공하여 운영 효율성과 사용자 경험을 향상시킵니다.</p>

					<!-- Nav tabs -->
					<ul class="nav nav-tabs flex-nowrap overflow-auto text-nowrap w-100 mx-auto pb-3 mb-3 mb-lg-4 justify-content-center"
						role="tablist" style="max-width: 892px;">
						<li class="nav-item mb-0">
							<a class="nav-link active" href="#beginners" data-bs-toggle="tab" role="tab">반응형웹서비스</a>
						</li>
						<li class="nav-item mb-0">
							<a class="nav-link" href="#stretching" data-bs-toggle="tab" role="tab">MDT-CRM</a>
						</li>
						<li class="nav-item mb-0">
							<a class="nav-link" href="#fly-yoga" data-bs-toggle="tab" role="tab">MDT-MIS</a>
						</li>
						<li class="nav-item mb-0">
							<a class="nav-link" href="#for-pregnant" data-bs-toggle="tab" role="tab">MDT B2B</a>
						</li>
					</ul>



					<!-- Solution 반응형 웹 서비스 -->
					<div class="tab-content">
						<div class="tab-pane fade show active" id="beginners" role="tabpanel">
							<div class="row align-items-lg-center">
								<div class="col-md-6 pb-4 pb-md-0 mb-2 mb-md-0">
									<img class="rounded-5" src="assets/images/business/sou1.png" alt="Beginners">
								</div>
								<div class="col-md-6 col-lg-5 col-xl-4 offset-lg-1">
									<div class="ps-md-4 ps-lg-0">
										<h2 class="mb-xl-4">반응형 웹 서비스</h2>
										<p class="pb-3 mb-3 mb-xl-4" style="font-size: 16px;">모든 기기에서 원활한 접근성의 중요성을 잘 알고
											있습니다. 당사의 반응형 웹 서비스는 귀하의
											웹사이트 또는 관리 플랫폼이 PC, 태블릿, 스마트폰 등 모든 화면 크기에 자동으로 적응하도록 보장합니다. <br><br>단일 코드
											기반으로 최적의
											시청 경험을 제공하여 개발 시간과 유지 관리 비용을 줄이고 사용자 만족도를 높입니다.

											직원이나 고객이 플랫폼에 액세스하는 위치에 관계없이 레이아웃과 기능은 일관되게 유지되어 효율적이고 사용자 친화적인 경험을
											제공합니다.<br><br>
											또한 당사의 기술은 귀하 사이트의 **SEO(검색 엔진 최적화)**를 향상시켜 귀하의 웹사이트 트래픽을 더 쉽게 찾고 늘릴 수 있도록
											해줍니다.

											반응형 웹 서비스를 활용하면 귀하의 디지털 존재감을 최첨단으로 유지하여 모든 장치, 브라우저에서 고품질 경험을 제공하고 비즈니스 성공을
											촉진할 수 있습니다.</p>
									</div>
								</div>
							</div>
						</div>

						<!-- Stretching -->
						<div class="tab-pane fade" id="stretching" role="tabpanel">
							<div class="row align-items-lg-center">
								<div class="col-md-6 pb-4 pb-md-0 mb-2 mb-md-0">
									<img class="rounded-5" src="assets/images/business/sou2.png" alt="Stretching">
								</div>
								<div class="col-md-6 col-lg-5 col-xl-4 offset-lg-1">
									<div class="ps-md-4 ps-lg-0">
										<h2 class="mb-xl-4">MDT-CRM</h2>
										<p class="pb-3 mb-3 mb-xl-4">반응형 웹 서비스를 통합하는 종합 솔루션

											MDT CRM은 반응형 웹 서비스를 통해 모바일 및 태블릿 환경에서 판매 및 성과 관리를 강화하도록 설계된 통합 시스템입니다. 이
											솔루션은 다양한 기기에 걸쳐 최적의 해상도로 자동 조정되어 별도의 관리 페이지나 추가 설정 없이 쉽게 접근할 수 있는 유연한 관리 도구를
											제공합니다.<br><br>

											MDT CRM은 판매 관리, 고객 관리, 성과 관리 기능을 반응형 웹 서비스와 결합하여 사용자가 PC, 스마트폰, 컴퓨터 등 모든
											장치에서 최적화된 인터페이스에 액세스할 수 있도록 보장합니다. 정제. 반응형 UI는 화면 크기에 맞춰 원활하게 조정되므로 사용자는 현장
											판매나 원격 근무 시에도 효율적으로 작업을 수행하고, 신속하게 대응하며, 실시간으로 데이터를 관리할 수 있습니다.<br><br>

											MDT CRM의 주요 장점은 비용 절감입니다. 시스템이 웹 기반이기 때문에 추가 앱 설치나 별도의 페이지 개발이 필요 없어 개발 및
											유지관리 비용이 대폭 절감됩니다. 또한 MDT CRM은 모든 장치에서 **일관된 사용자 경험(UX)**을 제공하여 데이터 일관성을
											보장하고 작업 효율성을 개선하며 운영을 간소화합니다.<br><br>

											MDT CRM을 사용하면 기업은 모바일 인력의 요구 사항에 맞춰 조정되는 통합 플랫폼을 통해 효과적으로 고객 관계를 관리하고 성과를
											모니터링하며 영업 전략을 구현할 수 있습니다.
										</p>
									</div>
								</div>
							</div>
						</div>

						<!-- Fly-yoga -->
						<div class="tab-pane fade" id="fly-yoga" role="tabpanel">
							<div class="row align-items-lg-center">
								<div class="col-md-6 pb-4 pb-md-0 mb-2 mb-md-0">
									<img class="rounded-5" src="assets/images/business/sou3.png" alt="Fly-yoga">
								</div>
								<div class="col-md-6 col-lg-5 col-xl-4 offset-lg-1">
									<div class="ps-md-4 ps-lg-0">
										<h2 class="mb-xl-4">경영정보시스템(MIS)</h2>
										<p class="pb-3 mb-3 mb-xl-4">경영정보시스템(MIS)

											MIS(경영 정보 시스템)는 조직 내에서 데이터의 수집, 처리 및 분석을 용이하게 하도록 설계된 포괄적인 시스템입니다. 이는 관리자에게
											정보에 입각한 결정을 내리는 데 필요한 정보를 제공하는 데 중요한 역할을 합니다. MIS는 다양한 비즈니스 운영의 데이터를 통합함으로써
											프로세스를 간소화하고 전반적인 효율성을 향상시킵니다.<br><br>

											MIS는 일반적으로 하드웨어, 소프트웨어, 데이터, 절차 및 사람을 포함한 여러 구성 요소를 포함합니다. 이러한 시스템을 통해 조직은
											정보를 효과적으로 관리할 수 있어 부서 간 조정이 더욱 원활해집니다. MIS의 주요 이점 중 하나는 시의적절한 의사 결정과 변화하는 시장
											상황에 대한 대응을 지원하는 실시간 보고 기능입니다.<br><br>

											또한 MIS는 조직 전체의 커뮤니케이션을 강화하여 사일로를 허물고 협업을 촉진합니다. MIS에 종종 포함되는 시각화 도구를 사용하면
											관리자는 복잡한 데이터를 쉽게 해석하여 전략 계획에 더 쉽게 접근할 수 있습니다.<br><br>

											오늘날의 경쟁 환경에서 강력한 MIS를 보유하는 것은 성과를 최적화하고 장기적인 성공을 달성하려는 조직에 필수적입니다. MIS의 힘을
											활용함으로써 기업은 귀중한 통찰력을 얻고, 고객 서비스를 개선하고, 생산성을 향상시켜 궁극적으로 지속 가능한 성장으로 이어질 수
											있습니다.
										</p>
									</div>
								</div>
							</div>
						</div>

						<!-- For pregnant -->
						<div class="tab-pane fade" id="for-pregnant" role="tabpanel">
							<div class="row align-items-lg-center">
								<div class="col-md-6 pb-4 pb-md-0 mb-2 mb-md-0">
									<img class="rounded-5" src="assets/images/business/businesscontent2.png"
										alt="For pregnant">
								</div>
								<div class="col-md-6 col-lg-5 col-xl-4 offset-lg-1">
									<div class="ps-md-4 ps-lg-0">
										<h2 class="mb-xl-4">MDT B2B 시스템의 비전</h2>
										<p class="pb-3 mb-3 mb-xl-4">MDT B2B는 반응형 웹 서비스와 B2B 기능을 완벽하게 통합하는 모바일 반응형 영업 관리
											시스템입니다. 우리의 주요 목표는 기업이 스마트 장치에서 직접 판매 프로세스, 마케팅 활동 및 고객 통합 서비스를 쉽게 관리할 수 있는
											포괄적인 솔루션을 제공하는 것입니다.<br><br>

											효율성을 높이기 위해 설계된 이 시스템은 고객 생애 가치를 극대화하고 회사의 장기적인 수익성을 높이는 데 중점을 둡니다. MDT B2B는
											새로운 비즈니스 고객을 확보하고, 가치 있는 관계를 육성하고, 잠재적인 리드를 활성화하기 위한 전략을 효과적으로 실행함으로써 조직이
											성장을 추진할 수 있도록 지원합니다.<br><br>

											이 플랫폼은 휴대폰, 태블릿 등 다양한 기기에서 최적의 사용자 경험을 보장합니다. 이러한 모바일 응답성을 통해 영업 담당자는 중요한
											데이터에 실시간으로 액세스할 수 있으므로 위치에 관계없이 즉각적인 대응과 효율적인 마케팅 활동 관리가 가능해집니다.<br><br>

											또한 MDT B2B는 고급 분석을 활용하여 고객 데이터를 평가함으로써 개별 고객 경험을 최적화하고 평생 가치를 극대화하는 맞춤형 전략을
											수립할 수 있습니다.<br><br>

											MDT B2B의 비전은 기업이 지속 가능한 성장과 수익성 향상을 달성할 수 있도록 지원하는 고객 중심 경영 전략을 수립하는 것입니다.
											지능형 영업관리를 최우선으로 하고, 탄탄한 고객 관계 구축을 통해 디지털 시대의 미래 경쟁력을 강화해 나가고자 합니다.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
	</main>


	<!-- Include the footer -->

	<div th:insert="~{footer :: footer}"></div>

	<!-- Back to top button -->
	<a class="btn-scroll-top" href="#top" data-scroll aria-label="Scroll back to top">
		<svg viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			<circle cx="20" cy="20" r="19" fill="none" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10">
			</circle>
		</svg>
		<i class="ai-arrow-up"></i>
	</a>


	<!-- Vendor scripts: JS libraries and plugins -->
	<script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
	<script src="assets/vendor/shufflejs/dist/shuffle.min.js"></script>
	<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
	<script src="assets/vendor/aos/dist/aos.js"></script>
	<script src="assets/vendor/parallax-js/dist/parallax.min.js"></script>
	<script src="assets/vendor/img-comparison-slider/dist/index.js"></script>
	<script src="assets/vendor/jarallax/dist/jarallax.min.js"></script>
	<script src="assets/vendor/lightgallery/lightgallery.min.js"></script>
	<script src="assets/vendor/lightgallery/plugins/video/lg-video.min.js"></script>

	<!-- Bootstrap + Theme scripts -->
	<script src="assets/js/theme.min.js"></script>



	<!--드롭다운 클릭시 조정해놓은 section 위치로 스크롤(section별로 위치조정)-->
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			/*   console.log("DOM fully loaded and parsed"); */

			// 드롭다운 항목에 클릭 이벤트 추가
			document.querySelectorAll('.dropdown-item').forEach(item => {
				/*      console.log("Adding click event listener to:", item); */
				item.addEventListener('click', function (event) {
					event.preventDefault();
					const targetUrl = new URL(event.target.href); // 전체 URL을 가져옴
					const targetPath = targetUrl.pathname; // 경로만 추출
					const targetId = targetUrl.hash; // 해시(#) 부분 추출

					if (window.location.pathname !== targetPath) {
						// 현재 페이지가 아닌 경우, 해당 페이지로 이동
						window.location.href = `${targetPath}${targetId}`;
					} else {
						// 이미 같은 페이지에 있는 경우, 해당 섹션으로 스크롤 이동
						scrollToSection(targetId);
					}
				});
			});

			// 페이지가 로드된 후에도 스크롤 시도
			if (window.location.hash) {
				setTimeout(() => {
					scrollToSection(window.location.hash);
				}, 500); // DOMContentLoaded 후 500ms 지연 후 시도
			}
		});

		window.addEventListener("load", function () {
			/*   console.log("Page fully loaded with hash:", window.location.hash); */
			if (window.location.hash) {
				scrollToSection(window.location.hash);
			}
		});

		// URL 해시가 변경될 때마다 스크롤 실행
		window.addEventListener("hashchange", function () {
			/*    console.log("Hash changed:", window.location.hash);*/
			if (window.location.hash) {
				scrollToSection(window.location.hash);
			}
		});

		// 스크롤 이동 함수
		function scrollToSection(targetId) {
			const section = document.querySelector(targetId);
			if (section) {
				const headerHeight = document.querySelector('header').offsetHeight || 0;
				let yOffset;

				// 각 섹션에 따라 다른 yOffset 설정
				if (targetId === "#business-content") {
					yOffset = -headerHeight - 150;
				} else if (targetId === "#business-itoutsourcing") {
					yOffset = -headerHeight - 100;
				} else if (targetId === "#business-sw") {
					yOffset = -headerHeight - 70;
				} else if (targetId === "#business-consulting") {
					yOffset = -headerHeight - 100;
				} else if (targetId === "#business-Solution") {
					yOffset = -headerHeight - 70;
				}
				else {
					yOffset = -headerHeight - 20; // 기본 여백
				}

				const yPosition = section.getBoundingClientRect().top + window.pageYOffset + yOffset;
				/*   console.log("Calculated yPosition:", yPosition);*/

				window.scrollTo({
					top: yPosition,
					behavior: 'smooth'
				});

				// 스크롤 후 위치 확인
				setTimeout(() => {
					/*    console.log("Scrolled to position:", window.scrollY);*/
				}, 500); // 스크롤 후 위치 확인을 위한 지연 시간 설정
			} else {
				/*  console.log("Section not found for targetId:", targetId);*/
			}
		}
	</script>
</body>

</html>