<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
	<meta charset="utf-8">

	<!-- Viewport -->
	<meta name="viewport"
		content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">

	<!-- SEO meta tags -->
	<title>SoftBank</title>
	<meta name="description" content="Around - Multipurpose Bootstrap HTML Template">
	<meta name="keywords"
		content="bootstrap, business, corporate, coworking space, services, creative agency, dashboard, e-commerce, mobile app showcase, saas, multipurpose, product landing, shop, software, ui kit, web studio, landing, light and dark mode, html5, css3, javascript, gallery, slider, touch, creative">
	<meta name="author" content="Createx Studio">

	<!-- Webmanifest + Favicon / App icons -->
	<link rel="manifest" href="/manifest.json">
	<link rel="icon" type="image/png" href="assets/app-icons/icon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="assets/app-icons/icon-180x180.png">

	<!-- Theme switcher (color modes) -->
	<script src="assets/js/theme-switcher.js"></script>

	<!-- Import Google font (Inter) -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&amp;display=swap"
		rel="stylesheet" id="google-font">

	<!-- Vendor styles -->
	<link rel="stylesheet" media="screen" href="assets/vendor/swiper/swiper-bundle.min.css">

	<!-- Font icons -->
	<link rel="stylesheet" href="assets/icons/around-icons.min.css">

	<!-- Theme styles + Bootstrap -->
	<link rel="stylesheet" media="screen" href="assets/css/theme.min.css">
	<!-- 푸터 css 불러오기-->
	<link rel="stylesheet" href="/assets/css/header.css"> <!-- 푸터 css 불러오기-->
	<!-- 푸터 css 불러오기-->
	<link rel="stylesheet" href="/assets/css/footer.css"> <!-- 푸터 css 불러오기-->


	<!-- Page loading styles -->
	<style>
		.page-loading {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			-webkit-transition: all .4s .2s ease-in-out;
			transition: all .4s .2s ease-in-out;
			background-color: #fff;
			opacity: 0;
			visibility: hidden;
			z-index: 9999;
		}

		[data-bs-theme="dark"] .page-loading {
			background-color: #121519;
		}

		.page-loading.active {
			opacity: 1;
			visibility: visible;
		}

		.page-loading-inner {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			text-align: center;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			-webkit-transition: opacity .2s ease-in-out;
			transition: opacity .2s ease-in-out;
			opacity: 0;
		}

		.page-loading.active>.page-loading-inner {
			opacity: 1;
		}

		.page-loading-inner>span {
			display: block;
			font-family: "Inter", sans-serif;
			font-size: 1rem;
			font-weight: normal;
			color: #6f788b;
		}

		[data-bs-theme="dark"] .page-loading-inner>span {
			color: #fff;
			opacity: .6;
		}

		.page-spinner {
			display: inline-block;
			width: 2.75rem;
			height: 2.75rem;
			margin-bottom: .75rem;
			vertical-align: text-bottom;
			background-color: #d7dde2;
			border-radius: 50%;
			opacity: 0;
			-webkit-animation: spinner .75s linear infinite;
			animation: spinner .75s linear infinite;
		}

		[data-bs-theme="dark"] .page-spinner {
			background-color: rgba(255, 255, 255, .25);
		}

		@-webkit-keyframes spinner {
			0% {
				-webkit-transform: scale(0);
				transform: scale(0);
			}

			50% {
				opacity: 1;
				-webkit-transform: none;
				transform: none;
			}
		}

		@keyframes spinner {
			0% {
				-webkit-transform: scale(0);
				transform: scale(0);
			}

			50% {
				opacity: 1;
				-webkit-transform: none;
				transform: none;
			}
		}
	</style>

	<!-- Page loading scripts -->
	<script>
		(function () {
			window.onload = function () {
				const preloader = document.querySelector('.page-loading')
				preloader.classList.remove('active')
				setTimeout(function () {
					preloader.remove()
				}, 1500)
			}
		})()
		
		<!--카테고리 눌르면 바로 가는 스크립트-->
		function scrollToHash() {
    if (window.location.hash) {
        const target = document.querySelector(window.location.hash);

        if (target) {
            // 고정된 헤더의 높이 가져오기
            const headerHeight = document.querySelector('header').offsetHeight || 0;
            
            // 타겟 요소의 위치 가져오기
            const rect = target.getBoundingClientRect();
            
            // 타겟 요소를 화면 중앙에 맞추기 위한 오프셋 계산
            const offset = (window.innerHeight / 15) - (rect.height / 4) - headerHeight;
            
            // 계산된 오프셋으로 타겟 요소로 스크롤 (부드러운 스크롤 적용)
            window.scrollTo({
                top: window.scrollY + rect.top + offset,
                behavior: 'smooth'
            });
        }
    }
}
document.addEventListener('DOMContentLoaded', scrollToHash);


	</script>
</head>


<!-- Body -->

<body>


	<!-- Page loading spinner -->
	<div class="page-loading active">
		<div class="page-loading-inner">
			<div class="page-spinner"></div>
			<span>Loading...</span>
		</div>
	</div>


	<!-- Page wrapper -->
	<main class="page-wrapper">

		<header>
			<header>
				<!-- Include the header -->
				<div th:replace="header :: header"></div>
			</header>
		</header>

		<!-- 세부페이지 배너  -->
		<section class="overflow-hidden">
			<div class="container pt-2 pt-sm-4 pb-sm-2 pb-md-4 py-xl-5 mt-5">
				<div class="row align-items-center py-5 mt-md-2 my-lg-3 my-xl-4 my-xxl-5">
					<div
						class="col-lg-7 order-lg-2 d-flex justify-content-center justify-content-lg-end mb-4 mb-md-5 mb-lg-0 pb-3 pb-md-0">
						<div class="parallax me-lg-n4 me-xl-n5" style="max-width: 667px;">
							<div class="parallax-layer" data-depth="0.1">
								<img src="assets/images/company/companybaner.jpg" alt="Layer">
							</div>

						</div>
					</div>
					<div class="col-lg-5 order-lg-1">
						<h1 class="display-3 text-center text-lg-start pb-sm-2 pb-md-3">COMPANY</h1>
						<p class="fs-sm text-center text-lg-start pb-xl-2 mx-auto mx-lg-0 mb-5"
							style="max-width: 520px;">회사소개는 인사말을 통해 기업의 비전과 철학을 전하고, 연혁을 통해 성장 과정을 소개하며,
							기술 인증을 통해 기술력과 신뢰성을 강조합니다.</p>
					</div>
				</div>
			</div>
		</section>






		<!-- Benefits -->
		<section id="company-greeting" class="container pb-5 mb-md-3 mb-lg-4 mb-xxl-5" style="margin-top: 10%;">
			<div class="row pb-md-4 pb-xl-5">
				<div class="col-md-6 mb-2 mb-md-0">
					<div class="card border-0 h-100 bg-size-cover bg-position-center"
						style="background-image: url(/assets/images/company/greeting.jpg);">
						<div class="d-none d-sm-block d-md-none" style="height: 450px;"></div>
						<div class="d-sm-none" style="height: 350px;"></div>
					</div>
				</div>
				<div class="col-md-6 col-xl-5 offset-xl-1">
					<div class="pt-4 pb-sm-4 ps-md-4 ps-xl-0">
						<h2 class="h1 pb-2 pb-sm-3 pb-xl-4">CEO 인사말</h2>
						<div class="d-flex pb-3 mb-2 mb-xl-3">
							<div class="ps-3">
								<h5 class="h5" style="font-weight: normal;">(주) SoftBank는 혁신적인 도전 정신으로
									우리나라 산업을 대표하는 정보 통신의 발전과 함께
									어려운 환경을 극복하고 성장해 왔습니다.<br><br>

									이는 모두 회사의 발전을 위해 노력한 임직원들의 수고와
									소프트뱅크를 아껴주시는 고객 여러분의 애정이
									밑거름이 된 값진 결실입니다.<br><br>

									세계는 이제 기술의 발전으로 산업의 경계가 없어지고
									전례없이 빠른 기술의 변화를 겪고 있습니다.<br><br>

									저희 소프트뱅크도 이러한 시대변화에 발맞추어
									첨단 기술과 우수한 인재, 글로벌 경영 네트워크를 갖추고
									고객 만족을 실현하고자 힘쓰겠습니다.<br><br>

									소프트뱅크의 창의적인 아이디어를 가진
									인재들의 역량을 모아
									경쟁력을 키우겠습니다.<br><br>

									앞으로도 혁신하는 기업이 될 것을 약속드리오며
									고객의 사랑과 은혜를 잊지 않는 겸손한 마음으로
									언제나 노력하고 또 노력하는 소프트뱅크가 되겠습니다.<br><br>
									감사합니다.</h5>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>


		<!-- Industries (Binded accordion) -->
		<section id="company-history" class="container py-5 mt-2 mt-sm-3 mt-md-4">
			<h2 class="h1 text-center pt-lg-3">회사연혁</h2>
			<p class="pb-3 pb-md-4 mb-0 mb-sm-2 mb-lg-3 text-center">오랜 역사와 혁신을 통해 꾸준히 성장해 온 기업으로, 고객의 신뢰와 함께 다양한 성과를
				이루어 왔습니다.</p>
			<div class="row align-items-lg-center">

				<!-- Accordion -->
				<div class="col-md-6 col-lg-5 pb-2 pb-lg-0 mb-4 mb-md-0">
					<div class="accordion accordion-alt" id="industries">
						<div class="accordion-item mb-n3 mb-lg-n2 mb-xl-1">
							<h3 class="accordion-header">
								<button class="accordion-button" type="button" data-bs-toggle="collapse"
									data-binded-content="#finance-img" data-bs-target="#finance" aria-expanded="true"
									aria-controls="finance">2023</button>
							</h3>
							<!--class="accordion-collapse collapse show" 이렇게 쓰면 자동으로 2023이 펼쳐짐-->
							<div class="accordion-collapse collapse" id="finance" data-bs-parent="#industries">
								<div class="accordion-body"> OK케피탈 RPA시스템 구축<br>
									삼성전자㈜ 23년 DS부문 SCM 운영/개발<br>
									삼성전자㈜ 23년 CRM실행그룹 B2B WP 개발<br>
									삼성전자㈜ DS EDA 시스템 DS IT 플랫폼 2차<br>
									삼성전자㈜ 23년 DS부문 MIS 운영/개발<br>
									삼성전자㈜ GEMS 부품 수리 기능개선<br>
									삼성전자㈜ DS 메모리 VM 개발<br>
									삼성전자㈜ 23년 소주 SESS 2선 지원<br>
									삼성전자㈜ DS부문 EMS 설비이송 프로세스 개선<br>
									삼성전자㈜ SCS G-EMS PCS 기능고도화<br>
									삼성전자㈜ DS B2B SaaS 전환 화면 개발<br>
									삼성전자㈜ 23년 DS IT플랫폼 DEVOPS 고도화<br>
									한국산업은행 정보시스템 운영<br>
									삼성전자㈜ GEMS 모바일 구축<br>
									LX판토스 WM 운영유지보수<br>
									삼성전자㈜ DS B2B SaaS 전환 화면 개발<br>
									삼성전자㈜ DS 부문 LSI사업부 추가 과제<br>
									삼성전자㈜ 경영위탁 관리 시스템 구축<br>
									삼성전자㈜ 설비 기준정보 구축<br>
									삼성전자㈜ 공급망 관리 시스템 SCM 구축<br>
									삼성전자㈜ 생산관리 시스템 구축</div>
							</div>
						</div>
						<div class="accordion-item mb-n3 mb-lg-n2 mb-xl-1">
							<h3 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-binded-content="#tech-img" data-bs-target="#tech" aria-expanded="false"
									aria-controls="tech">2022</button>
							</h3>
							<div class="accordion-collapse collapse" id="tech" data-bs-parent="#industries">
								<div class="accordion-body"> 만도 G-MES구축<br>
									삼성전자㈜ DS 부문 EDA 클라우드 전환<br>
									삼성반도체 경영지원 시스템 구축<br>
									티머니 교통카드 시스템 운영<br>
									삼성전자㈜ 설비관리 시스템 구축<br>
									삼성전자㈜ DS부문 제품코드 전환 3차<br>
									삼성전자㈜ 제품코드변환(WP)<br>
									ABL생명 Digital Contact Center 구축<br>
									삼성디스플레이 사외자료공유시스템</div>
							</div>
						</div>
						<div class="accordion-item mb-n3 mb-lg-n2 mb-xl-1">
							<h3 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-binded-content="#medicine-img" data-bs-target="#medicine" aria-expanded="false"
									aria-controls="medicine">2021</button>
							</h3>
							<div class="accordion-collapse collapse" id="medicine" data-bs-parent="#industries">
								<div class="accordion-body"> 삼성전자㈜ TSP총괄 SCM 업무 개선 개발<br>
									삼성화재 채널시스템 구축<br>
									한국조폐공사 신뢰플랫폼 통합 유지 및 기능개선<br>
									삼성전자㈜ 제품코드변환 개발</div>
							</div>
						</div>
						<div class="accordion-item mb-n3 mb-lg-n2 mb-xl-1">
							<h3 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-binded-content="#ecommerce-img" data-bs-target="#ecommerce"
									aria-expanded="false" aria-controls="ecommerce">2020</button>
							</h3>
							<div class="accordion-collapse collapse" id="ecommerce" data-bs-parent="#industries">
								<div class="accordion-body"> 법인 설립 소프트뱅크(주식회사)<br>
									소프트웨어협회 사업자신고<br>
									KT 부가서비스 관리자 시스템 구축<br>
									KT 전산시스템 개발 및 유지보스<br>
									삼성반도체 RnD 업무효율화<br>
									삼성전자(주) G-EMS 부대설비 관리시스템 개선<br>
									자금세탁방지 시스템 구축</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Binded images -->
				<div class="col-md-6 col-lg-7 col-xl-6 offset-xl-1">
					<div class="ps-lg-4 ps-xl-0">
						<div class="binded-content">
							<div class="binded-item active" id="finance-img">
								<img class="rounded-5" src="assets/images/company/company1.jpg" alt="Image">
							</div>
							<div class="binded-item" id="tech-img">
								<img class="rounded-5" src="assets/images/company/company1.jpg" alt="Image">
							</div>
							<div class="binded-item" id="medicine-img">
								<img class="rounded-5" src="assets/images/company/company1.jpg" alt="Image">
							</div>
							<div class="binded-item" id="ecommerce-img">
								<img class="rounded-5" src="assets/images/company/company1.jpg" alt="Image">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- 기업인증페이지 -->
		<section id="company-certification" class="overflow-hidden" style="margin-top: 10%;">
			<div class="container pt-5 pb-sm-3 mt-5 mb-2 mb-md-3 mb-lg-4 mb-xxl-5">
				<!-- 기업인증 페이지 -->
				<h1 class="text-center pb-3 pb-md-4 pb-lg-5 mb-lg-0 mb-xl-2 mb-xxl-4">기업인증</h1>
				<!-- 사진 -->
				<article class="row align-items-center card-hover pb-5 mb-md-2 mb-lg-3 mb-xl-4" data-aos="fade-up"
					data-aos-duration="600" data-aos-offset="280">
					<div class="col-md-4 offset-xxl-1 mb-4 mb-md-0">
						<span href="portfolio-single-v1.html">
							<img class="rounded-5" src="assets/images/company/sobangimage1.png" width="700" alt="Image">
						</span>
					</div>
					<div class="col-md-5 col-xl-4" style="margin-left: 100px; " data-aos="fade-up"
						data-aos-duration="850" data-aos-offset="180" data-disable-parallax-down="md">
						<div class="ms-md-4 ms-lg-5 ms-xxl-0" style="max-width: 400px;">

							<h2 class="mb-lg-4">
								<span href="">기업부설연구소</span>
							</h2>
							<p class="mb-0 mb-md-1 mb-lg-3">2022.07 기업부설 연구소 지정 (한국산업기술진흥협회) </p>

							</a>
						</div>
					</div>


				</article>

				<!-- Item -->
				<!--<article class="row align-items-center card-hover pb-5 mb-md-2 mb-lg-3 mb-xl-4" data-aos="fade-up" data-aos-duration="600" data-aos-offset="280">
            <div class="col-md-7 order-md-2 mb-4 mb-md-0">
              <a href="portfolio-single-v1.html">
                <img class="rounded-5" src="assets/img/portfolio/list/02.jpg" width="700" alt="Image">
              </a>
            </div>
            <div class="col-md-5 col-xl-4 offset-xxl-1 order-md-1" data-aos="fade-up" data-aos-duration="850" data-aos-offset="180" data-disable-parallax-down="md">
              <div class="me-md-4 me-lg-5 me-xxl-0" style="max-width: 330px;">
                <div class="text-body-secondary mb-2">Branding</div>
                <h2 class="mb-lg-4">
                  <a href="portfolio-single-v1.html">Handmade tableware company</a>
                </h2>
                <p class="mb-0 mb-md-1 mb-lg-3">Feugiat elit tempor, malesuada rutrum amet quis duis facilisi viverra. Quam ut in gravida dignissim eget mauris pretium facilisi dui varius amet et quam massa auctor odio.</p>
                <a class="btn btn-lg btn-link px-0 opacity-0 d-none d-md-inline-flex" href="portfolio-single-v1.html">
                  Read more
                  <i class="ai-arrow-right ms-2"></i>
                </a>
              </div>
            </div>
          </article>-->

				<!-- Item -->
				<!--<article class="row align-items-center card-hover pb-5 mb-md-2 mb-lg-3 mb-xl-4" data-aos="fade-up" data-aos-duration="600" data-aos-offset="280">
            <div class="col-md-7 offset-xxl-1 mb-4 mb-md-0">
              <a href="portfolio-single-v1.html">
                <img class="rounded-5" src="assets/img/portfolio/list/03.jpg" width="700" alt="Image">
              </a>
            </div>
            <div class="col-md-5 col-xl-4" data-aos="fade-up" data-aos-duration="850" data-aos-offset="180" data-disable-parallax-down="md">
              <div class="ms-md-4 ms-lg-5 ms-xxl-0" style="max-width: 330px;">
                <div class="text-body-secondary mb-2">Identity, Packaging</div>
                <h2 class="mb-lg-4"><a href="portfolio-single-v1.html">Bottle for French perfume brand</a></h2>
                <p class="mb-0 mb-md-1 mb-lg-3">Egestas ultrices condimentum consectetur massa aliquam volutpat pulvinar aliquet nisi quam. Nibh commodo tristique nisi, justo, sed maecenas lectus ut nec eu.</p>
                <a class="btn btn-lg btn-link px-0 opacity-0 d-none d-md-inline-flex" href="portfolio-single-v1.html">
                  Read more
                  <i class="ai-arrow-right ms-2"></i>
                </a>
              </div>
            </div>
          </article>-->

				<!-- Item -->
				<!--<article class="row align-items-center card-hover pb-5 mb-md-2 mb-lg-3 mb-xl-4" data-aos="fade-up" data-aos-duration="600" data-aos-offset="280">
            <div class="col-md-7 order-md-2 mb-4 mb-md-0">
              <a href="portfolio-single-v1.html">
                <img class="rounded-5" src="assets/img/portfolio/list/04.jpg" width="700" alt="Image">
              </a>
            </div>
            <div class="col-md-5 col-xl-4 offset-xxl-1 order-md-1" data-aos="fade-up" data-aos-duration="850" data-aos-offset="180" data-disable-parallax-down="md">
              <div class="me-md-4 me-lg-5 me-xxl-0" style="max-width: 330px;">
                <div class="text-body-secondary mb-2">E-book, Branding</div>
                <h2 class="mb-lg-4">
                  <a href="portfolio-single-v1.html">Book cover design Twin Fish</a>
                </h2>
                <p class="mb-0 mb-md-1 mb-lg-3">Sed feugiat tristique enim aenean netus cum adipiscing est sem eget nulla leo vestibulum. Cras urna, proin ut ut dictum risus porttitor nulla consequat et iaculis.</p>
                <a class="btn btn-lg btn-link px-0 opacity-0 d-none d-md-inline-flex" href="portfolio-single-v1.html">
                  Read more
                  <i class="ai-arrow-right ms-2"></i>
                </a>
              </div>
            </div>
          </article>-->

				<!--  Item 
          <article class="row align-items-center card-hover pb-5 mb-md-2 mb-lg-3 mb-xl-4" data-aos="fade-up" data-aos-duration="600" data-aos-offset="280">
            <div class="col-md-7 offset-xxl-1 mb-4 mb-md-0">
              <a href="portfolio-single-v1.html">
                <img class="rounded-5" src="assets/img/portfolio/list/05.jpg" width="700" alt="Image">
              </a>
            </div>
            <div class="col-md-5 col-xl-4" data-aos="fade-up" data-aos-duration="850" data-aos-offset="180" data-disable-parallax-down="md">
              <div class="ms-md-4 ms-lg-5 ms-xxl-0" style="max-width: 330px;">
                <div class="text-body-secondary mb-2">Branding, Strategy</div>
                <h2 class="mb-lg-4">
                  <a href="portfolio-single-v1.html">Business cards and identity for Sen Jonson</a>
                </h2>
                <p class="mb-0 mb-md-1 mb-lg-3">Lectus lacus, ac justo, ullamcorper egestas at felis arcu arcu venenatis praesent odio. Odio vulputate purus placerat ultrices faucibus sem sed magna est elementum.</p>
                <a class="btn btn-lg btn-link px-0 opacity-0 d-none d-md-inline-flex" href="portfolio-single-v1.html">
                  Read more
                  <i class="ai-arrow-right ms-2"></i>
                </a>
              </div>
            </div>
          </article>-->
			</div>
		</section>






	</main>


	<!-- Include the footer -->
	<div th:replace="footer :: footer"></div>
</body>

</html>


<!-- Back to top button -->
<a class="btn-scroll-top" href="#top" data-scroll aria-label="Scroll back to top">
	<svg viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		<circle cx="20" cy="20" r="19" fill="none" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10">
		</circle>
	</svg>
	<i class="ai-arrow-up"></i>
</a>


<!-- Vendor scripts: JS libraries and plugins -->
<script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="assets/vendor/shufflejs/dist/shuffle.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/aos/dist/aos.js"></script>
<script src="assets/vendor/parallax-js/dist/parallax.min.js"></script>
<script src="assets/vendor/img-comparison-slider/dist/index.js"></script>
<script src="assets/vendor/jarallax/dist/jarallax.min.js"></script>
<script src="assets/vendor/lightgallery/lightgallery.min.js"></script>
<script src="assets/vendor/lightgallery/plugins/video/lg-video.min.js"></script>

<!-- Bootstrap + Theme scripts -->
<script src="assets/js/theme.min.js"></script>
</body>

</html>