<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
	<meta charset="utf-8">

	<!-- Viewport -->
	<meta name="viewport"
		content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">

	<!-- SEO meta tags -->
	<title>Footer</title>
	<meta name="description" content="Around - Multipurpose Bootstrap HTML Template">
	<meta name="keywords"
		content="bootstrap, business, corporate, coworking space, services, creative agency, dashboard, e-commerce, mobile app showcase, saas, multipurpose, product landing, shop, software, ui kit, web studio, landing, light and dark mode, html5, css3, javascript, gallery, slider, touch, creative">
	<meta name="author" content="Createx Studio">

	<!-- Webmanifest + Favicon / App icons -->
	<link rel="manifest" href="/manifest.json">
	<link rel="icon" type="image/png" href="assets/app-icons/icon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="assets/app-icons/icon-180x180.png">

	<!-- Theme switcher (color modes) -->
	<script src="assets/js/theme-switcher.js"></script>

	<!-- Import Google font (Inter) -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&amp;display=swap"
		rel="stylesheet" id="google-font">

	<!-- Vendor styles -->
	<link rel="stylesheet" media="screen" href="assets/vendor/swiper/swiper-bundle.min.css">
	<link rel="stylesheet" media="screen" href="assets/vendor/aos/dist/aos.css">

	<!-- Font icons -->
	<link rel="stylesheet" href="assets/icons/around-icons.min.css">

	<!-- Theme styles + Bootstrap -->
	<link rel="stylesheet" media="screen" href="assets/css/theme.min.css">

	<!-- Page loading scripts -->
	<script>
		(function () {
			window.onload = function () {
				const preloader = document.querySelector('.page-loading')
				preloader.classList.remove('active')
				setTimeout(function () {
					preloader.remove()
				}, 1500)
			}
		})()
	</script>

	<!-- Footer -->
	<footer class="footer py-5">
		<li class="nav-item">
                    <a class="nav-link" th:href="@{/user/signup}">회원가입</a>
                </li>
		<div class="container pt-md-2 pt-lg-3 pt-xl-4">
			<div class="row pb-5 pt-sm-2 mb-lg-2 justify-content-between">
				<div class="col-md-12 col-lg-3 pb-2 pb-lg-0 mb-4 mb-lg-0 text-center text-lg-start">
					<a class="navbar-brand py-0 mb-3 mb-lg-4" href="index.html">
						<span class="text-primary flex-shrink-0 me-0">
							<img src="/assets/images/main/softbank_logo.png" alt="SoftBank Logo" width="80"
								height="100">
						</span>
						<span class="text-nav fs-5 d-block">
							<span class="text-blue">S</span>oft<span class="text-blue">B</span>ank
						</span>
					</a>
					<p class="fs-sm pb-2 pb-lg-3 mb-2">Address) 서울시 양천구 목동중앙북로 90 301호</p>
					<p class="fs-sm pb-2 pb-lg-3 mb-2">TEL) 02-6013-8182 FAX) 02-6338-8182</p>
				</div>
				<div class="col-sm-3 col-lg-2 offset-xl-1 mb-4 mb-sm-0">
					<!-- Empty column -->
				</div>
				<div class="col-sm-4 col-lg-2 mb-4 mb-sm-0">
					<!-- Empty column -->
				</div>
				<div class="col-sm-5 col-lg-4 col-xl-3 offset-lg-1 text-center text-lg-start">
					<button class="btn custom-button mb-3" type="button"
						onclick="window.location.href='/contact'">Contact Us</button>
					<p class="fs-sm mb-3">Email) soft-bank@naver.com</p>
					<div class="d-flex justify-content-center justify-content-lg-start align-items-center">
						<p class="nav fs-sm mb-0 me-2">
							<span class="text-body-secondary">&copy; All rights reserved. Made by</span>
							<a class="nav-link fw-normal p-0 ms-1" target="_blank">SoftBank</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!-- 푸터 스타일 -->






</html>