<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
	<meta charset="utf-8">

	<!-- Viewport -->
	<meta name="viewport"
		content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
	<!-- Thymeleaf 예제 -->
<meta name="csrf-token" th:content="${_csrf.token}" />

	<!-- SEO meta tags -->
	<title>header</title>
	<meta name="description" content="Around - Multipurpose Bootstrap HTML Template">
	<meta name="keywords"
		content="bootstrap, business, corporate, coworking space, services, creative agency, dashboard, e-commerce, mobile app showcase, saas, multipurpose, product landing, shop, software, ui kit, web studio, landing, light and dark mode, html5, css3, javascript, gallery, slider, touch, creative">
	<meta name="author" content="Createx Studio">

	<!-- Webmanifest + Favicon / App icons -->
	<!--<link rel="manifest" href="/manifest.json">-->
	<link rel="icon" type="image/png" href="/assets/images/main/softbank_logo.png" sizes="32x32">
	<link rel="apple-touch-icon" href="/assets/app-icons/icon-180x180.png">


	<!-- Theme switcher (color modes) -->
	<script src="assets/js/theme-switcher.js"></script>

	<!-- Import Google font (Inter) -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&amp;display=swap"
		rel="stylesheet" id="google-font">

	<!-- Vendor styles -->
	<link rel="stylesheet" media="screen" href="assets/vendor/img-comparison-slider/dist/styles.css">
	<link rel="stylesheet" media="screen" href="assets/vendor/swiper/swiper-bundle.min.css">
	<link rel="stylesheet" media="screen" href="assets/vendor/aos/dist/aos.css">
	<link rel="stylesheet" media="screen" href="assets/vendor/lightgallery/css/lightgallery-bundle.min.css">

	<!-- Font icons -->
	<link rel="stylesheet" href="assets/icons/around-icons.min.css">

	<!-- Theme styles + Bootstrap -->
	<link rel="stylesheet" media="screen" href="assets/css/theme.min.css">




</head>

<!-- Body -->

<body>


	<!-- Page loading spinner -->
	<div class="page-loading active">
		<div class="page-loading-inner">
			<div class="page-spinner"></div>
			<span>Loading...</span>
		</div>
	</div>


	<!-- Page wrapper -->
	<main class="page-wrapper">

		<!-- Navbar. Remove 'fixed-top' class to make the navigation bar scrollable with the page -->
		<!--헤더 배경색깔 bg-black 이 부분을 bg-light로 바꾸면 흰색-->
		<header class="navbar navbar-expand-lg fixed-top bg-black">
			<div class="container">

				<!-- Navbar brand (Logo) -->
				<a class="navbar-brand pe-sm-3" href="/">
					<span class="text-primary flex-shrink-0 me-2">
						<img src="/assets/images/main/softbank_logo.png" alt="SoftBank Logo" width="75" height="60" />
					</span>
					<!--  <span style="color: #6495ED;">S</span>oft <span style="color: #6495ED;">B</span>ank-->
					<span class="text-primary1">S</span><span class="text-primary2">oft&nbsp;</span><span
						class="text-primary1">B</span><span class="text-primary2">ank</span>

				</a>

				<!-- Theme switcher -->
				<div class="form-check form-switch mode-switch order-lg-2 me-3 me-lg-4 ms-auto" data-bs-toggle="mode">
					<input class="form-check-input" type="checkbox" id="theme-mode">
					<label class="form-check-label" for="theme-mode">
						<i class="ai-sun fs-lg"></i>
					</label>
					<label class="form-check-label" for="theme-mode">
						<i class="ai-moon fs-lg"></i>
					</label>
				</div>

				  <!-- Login and Logout Buttons -->
               <!-- 헤더 -->

    <!-- 로그인 및 로그아웃 버튼 -->
    <a class="btn btn-primary btn-sm fs-sm order-lg-3 d-none d-sm-inline-flex" th:if="${isLoggedIn == null or not isLoggedIn}" href="/login" rel="noopener">
        <i class="ai-user fs-xl me-2 ms-n1"></i>
        Login
    </a>
    <a class="btn btn-primary btn-sm fs-sm order-lg-3 d-none d-sm-inline-flex" th:if="${isLoggedIn == null or isLoggedIn}" href="/logout" rel="noopener">
        <i class="ai-user fs-xl me-2 ms-n1"></i>
        Logout
    </a>



				<!-- Mobile menu toggler (Hamburger) -->
				<button class="navbar-toggler ms-sm-3" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarNav" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- Navbar collapse (Main navigation) -->
				<nav class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav navbar-nav-scroll me-auto" style="--ar-scroll-height: 520px;">
						<li class="nav-item dropdown">
							<a class="nav-link" href="/company" aria-expanded="false" style="color: white;">회사소개</a>

							<div class="dropdown-menu overflow-hidden p-0">
								<div class="d-lg-flex">
									<div class="mega-dropdown-column pt-1 pt-lg-3 pb-lg-4">
										<ul class="list-unstyled mb-0">
											<li>
												<a class="dropdown-item" href="company#company-greeting">인사말</a>
												<!-- <a class="dropdown-item" href="#company-greeting" data-target="1">인사말</a>-->

												<!--<span class="mega-dropdown-column position-absolute top-0 end-0 h-100 bg-size-cover bg-repeat-0 rounded-3 rounded-start-0" style="background-image: url(assets/img/megamenu/landings.jpg);"></span>-->
											</li>
											<li>
												<a class="dropdown-item" href="company#company-history">회사연혁</a>
												<!--<a class="dropdown-item" href="#company-history" data-target="2">회사연혁</a>-->
												<!--<span class="mega-dropdown-column position-absolute top-0 end-0 h-100 bg-size-cover bg-repeat-0 z-2 opacity-0" style="background-image: url(assets/img/megamenu/mobile-app.jpg);"></span>-->
											</li>
											<li>
												<a class="dropdown-item" href="company#company-certification">기업인증</a>
												<!--<a class="dropdown-item" href="#company-certification" data-target="3">기업인증</a>-->
												<!--<span class="mega-dropdown-column position-absolute top-0 end-0 h-100 bg-size-cover bg-repeat-0 z-2 opacity-0" style="background-image: url(assets/img/megamenu/product-landing.jpg);"></span>-->
											</li>

										</ul>
									</div>
									<!--드롭다운 사진 없애기-->
									<!-- <div class="mega-dropdown-column pb-2 pt-lg-3 pb-lg-4">-->
									<div class="mega-dropdown-column" style="padding: 0; border: none; width: auto;">

									</div>
									<!--드롭다운 사진 없애기-->
									<div class="mega-dropdown-column" style="padding: 0; border: none; width: auto;">
										<!--<div class="mega-dropdown-column position-relative border-start z-3">-->
									</div>
								</div>
							</div>
						</li>
						<!--사업분야 시작-->
						<li class="nav-item dropdown">
							<a class="nav-link " href="/business" aria-expanded="false" style="color: white;">사업분야</a>
							<ul class="dropdown-menu">
								<li class="dropdown">
									<a class="dropdown-item" href="business#business-content">사업내용</a>

								</li>
								<li class="dropdown">
									<a class="dropdown-item" href="business#business-itoutsourcing">IT 아웃소싱</a>

								</li>
								<li class="dropdown">
									<a class="dropdown-item" href="business#business-sw">SI/SM</a>

								</li>
								<li class="dropdown">
									<a class="dropdown-item" href="business#business-consulting">컨설팅</a>

								</li>
								<li class="dropdown">
									<a class="dropdown-item" href="business#business-Solution">솔루션</a>

								</li>

							</ul>
						</li>
						<!--채용안내 시작-->
						<li class="nav-item dropdown">
							<a class="nav-link " href="/recruitment" aria-expanded="false"
								style="color: white;">채용안내</a>
							<ul class="dropdown-menu">
								<li class="dropdown">
									<!--<a class="dropdown-item" href="recruitment#recruitment-welfare" data-target="10">복지제도</a>-->

									<a class="dropdown-item" href="recruitment#recruitment-recruit">채용안내</a>

								</li>
								<li>
									<!--<a class="dropdown-item" href="recruitment#recruitment-recruit" data-target="9">채용안내</a>-->
									<a class="dropdown-item" href="recruitment#recruitment-welfare">복지제도</a>
								</li>

							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/contact" style="color: white;">찾아오는길</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/board" style="color: white;">회사소식</a>
						</li>
					</ul>
					<div class="d-sm-none p-3 mt-n3">
						<a class="btn btn-primary w-100 mb-1"
							href="https://themes.getbootstrap.com/product/around-multipurpose-template-ui-kit/"
							target="_blank" rel="noopener">
							<i class="ai-cart fs-xl me-2 ms-n1"></i>
							Buy now
						</a>
					</div>
				</nav>
			</div>
		</header>
	</main>
	<!-- Page loading scripts -->
	<script>
		(function () {
			window.onload = function () {
				const preloader = document.querySelector('.page-loading')
				preloader.classList.remove('active')
				setTimeout(function () {
					preloader.remove()
				}, 1500)
			}
		})()



	</script>
</body>


</html>